#General build artifacts
*.mk
*.o
*.a
*.elf
*.hex
*.axf
*.d
*.lst
*.map
*.plg
*.lnp
*.crf
*.tra
*.sct
*.bak
*.dep
*.launch
*makefile
*.ld
*.bin

#MDK-ARM
*.__i
*.htm
*.uvgui.*
*.uvopt
*.axf

#Eclipse
.metadata
.mcuxpressoide_packages_support
FreeRTOS_TAD_logs

Debug

#Mac
.DS_Store

# Ignore Xcode user-related files
xcuserdata/

# Ignore AppCode user-related files
.idea/

# Ignore CocoaPods installed files
Pods/

# Ignore Carthage installed files
Carthage/

